.icon_font {
    font-size: 90px;
    color: green;
}



/* .icon_font:hover {
    color: #6c757d;
} */

.btn:hover, .icon_font:hover {
    opacity: 0.8;
    cursor: pointer;
    color: #6c757d;
}

.table-wrapper {
    overflow: auto;
    max-height: 790px;
    /* Ajusta la altura máxima según tus necesidades */
}

.table-wrapper table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-wrapper thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
}

/* MODAL USERS */
/* .my-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); 
}

.my-modal-content {
    background-color: white;
    padding: 20px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    position: relative;
    border-radius: 5px;
} */

@media (max-width: 360px) {
    .icon_font {
        font-size: 60px;
    }
}