body {
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 0px;
}

.logoQuality {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-login-large {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100% !important;
}

/* Auth */
.login-form-1 {
    padding: 12% 5% 0% 5%;
}

.login-container form {
    padding: 2% 25% 0% 20%;
}

.login-container form .input .form-control {
    background-color: #f7f7f7;
    margin-bottom: 5%;
}

.label-form {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1%;
}

.btn-form {
    background-color: #0275D8;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.btn-form:hover {
    opacity: 0.8;
    transition: 0.7s;
}