/* CALCULATOR */
.map-box {
    background: rgba(255, 255, 255, 0.8);
    width: 18%;
    margin-left: 1%;
    margin-right: auto;
    margin-top: 1%;
    padding: 15px 10px;
    position: absolute;
    z-index: 1;
    border-radius: 8px;
}

.hidden-text {
    /*Propiedades*/
    white-space: nowrap;
    /*No salto de lineas*/
    overflow: hidden;
    /*No dejar que salga nada*/
    text-overflow: ellipsis;
    /*Colocar los puntos suspencivos*/
}


@media (max-width: 900px) {
    .map-box {
        width: 30%
    }
}

@media (max-width: 800px) {
    .map-box {
        width: 40%
    }
}

@media (max-width: 600px) {
    .actions_btn {
        align-items: center;
    }

    .map-box {
        width: 50%
    }
}